// ion-menu {
//   --background: #ffffff;
// }

// ion-item {
//   --color: #1e3a8a;
//   font-weight: 500;
// }

// .gradient-btn {
//   --background: linear-gradient(135deg, #1e3a8a, #4388f7);
//   --color: #ffffff;
//   border-radius: 10px;
//   font-weight: 500;
// }
