<ion-tabs>
   <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab6" routerLink="/tab6">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab7" routerLink="/tab7">
      <ion-icon aria-hidden="true" name="briefcase-outline"></ion-icon>
      <ion-label>My cases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab8" routerLink="/tab8">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Judgment</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab9" routerLink="/tab9">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Cause List</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab10" routerLink="/tab10">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>