<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/bareact']" fill="clear">
        <ion-icon name="chevron-back-outline" style="color:#1e3a8a; margin: 0px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" />
      <span>JurishLink</span>
    </div>
     <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
        <ion-badge color="primary" class="notification-badge">3</ion-badge>
      </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>The Indian Evidence Act, 1872</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>Purpose</h3>
      <p>
       This Act lays down rules of evidence — what facts and documents are admissible in a court of law, and how evidence should be evaluated.
      </p>

    
       <h3>Structure</h3>
      <p><strong>3 Parts and 167 Sections</strong></p><ul>
        <li>General explanations and definitions (Sections 1–52).</li>
        <li>General exceptions (Sections 76–106)</li>
        <li>Offences against the State, public tranquility, human body, property, etc.</li>
      </ul>
      
      
      <h3>Key Provisions</h3>
      <p><strong>Section 3:</strong> Definition of “Evidence”</p>
      <p><strong>Section 24:</strong>Confession obtained by inducement or threat is invalid</p>
      <p><strong>Section 65B:</strong>Admissibility of electronic records</p>
      <p><strong>Section 101:</strong>“He who asserts must prove.” (Burden of proof)</p>
      <p><strong>Section 114:</strong>Presumptions the court may draw from facts</p>
      
      
      <h3>Importance</h3>
       <p>Prevents false or fabricated evidence.</p>
      <p>Ensures that judgments are based on reliable and relevant facts.</p>
      <p>Forms the core of the Indian judicial process.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-footerr></app-footerr>
  </ion-toolbar>
</ion-footer>

