<app-headerr></app-headerr>

<ion-content class="ion-padding document-content">
  

  <ion-list lines="none" class="document-list">
    <ion-item class="document-item" routerLink="/bareact1">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Indian Penal Code (IPC), 1860</h3>
        
      </ion-label>
    </ion-item>
    <ion-item class="document-item"routerLink="/bareact2">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Code of Criminal Procedure (CrPC), 1973</h3>
        
      </ion-label>
  
    </ion-item>
    <ion-item class="document-item" routerLink="/bareact3">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Indian Evidence Act, 1872</h3>
        
      </ion-label>
     
    </ion-item>
    <ion-item class="document-item" routerLink="/bareact4">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Code of Civil Procedure (CPC), 1908 </h3>
        
      </ion-label>
     
    </ion-item>
    <ion-item class="document-item" routerLink="/bareact5">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Constitution of India, 1950</h3>
        
      </ion-label>
      
    </ion-item>
    <ion-item class="document-item" routerLink="/bareact6">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Indian Contract Act, 1872</h3>
        
      </ion-label>
      
    </ion-item>
    <ion-item class="document-item"routerLink="/bareact7">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>The Transfer of Property Act, 1882</h3>
        
      </ion-label>
      
    </ion-item>
    <ion-item class="document-item" routerLink="/bareact8">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label><h3>The Companies Act, 2013</h3> 
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
   <app-footerr></app-footerr>
  </ion-toolbar>
</ion-footer>
