<app-headerr></app-headerr>

<ion-content class="ion-padding document-content">

  <div class="case-header">
    <h2>Documents</h2>
   
  </div>


  <!-- Documents List -->
  <ion-list lines="none" class="document-list">
    <ion-item class="document-item" routerLink="/document1">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>Right to Privacy & Unlawful Surveillance — Article 21 & Article 19(1)(a)</h3>
      
      </ion-label>

    </ion-item>

    <ion-item class="document-item" routerLink="/document2">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>Freedom of Speech & Social Media Regulation — Article 19(1)(a)</h3>
       
      </ion-label>
      
    </ion-item>

    <ion-item class="document-item" routerLink="/document3">
      <div class="doc-icon">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
      <ion-label>
        <h3>Workplace Harassment & Gender Equality — Article 14 & Article 15</h3>
       
      </ion-label>
     
    </ion-item>

    
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footerr></app-footerr>
  </ion-toolbar>
</ion-footer>
